In [ ]:
! pip install pcapng

Requirement already satisfied: pcapng in c:\programdata\anaconda3\lib\site-packages (0.1.25)

In [ ]:
! pip install scapy

Requirement already satisfied: scapy in c:\programdata\anaconda3\lib\site-packages (2.4.5)

In [ ]:
from scapy.all import *

WARNING: No IPv4 address found on en5 !
WARNING: No IPv4 address found on ap1 !
WARNING: more No IPv4 address found on awdl0 !

In [ ]:
traffic = rdpcap('/Users/user/Documents/資策會＿讀取檔案/44818_eth0_00001_20210325095818 (2).pcapng')

In [ ]:
print (traffic)

<44818_eth0_00001_20210325095818 (2).pcapng: TCP:14073 UDP:0 ICMP:0 Other:0>

In [ ]:
unique_ip_address = []

for packet in traffic:
    src = packet[IP].src
    dst = packet[IP].dst
    
    unique_ip_address.append(src)
    unique_ip_address.append(dst)
    
print(set(unique_ip_address))

{'10.0.100.21', '10.0.100.110', '10.0.100.20', '10.0.100.105', '10.0.100.16', '10.0.100.15', '10.0.100.106'}

In [ ]:
#unique IP Addresses 已取得所有封包

In [ ]:
traffic[0]

<Ether  dst=f4:54:33:82:f8:c5 src=d0:37:45:c9:f9:94 type=IPv4 |<IP  version=4 ihl=5 tos=0x0 len=40 id=12204 flags=DF frag=0 ttl=128 proto=tcp chksum=0xeea0 src=10.0.100.21 dst=10.0.100.110 |<TCP  sport=53011 dport=rockwell_encap seq=2961081432 ack=234904740 dataofs=5 reserved=0 flags=A window=513 chksum=0xb3ae urgptr=0 |<Padding  load='\x00\x00\x00\x00\x00\x00' |>>>>

In [ ]:
traffic[0][IP].src

'10.0.100.21'

In [ ]:
IP

scapy.layers.inet.IP

In [ ]:
traffic[0].payload

<IP  version=4 ihl=5 tos=0x0 len=40 id=12204 flags=DF frag=0 ttl=128 proto=tcp chksum=0xeea0 src=10.0.100.21 dst=10.0.100.110 |<TCP  sport=53011 dport=44818 seq=2961081432 ack=234904740 dataofs=5 reserved=0 flags=A window=513 chksum=0xb3ae urgptr=0 |<Padding  load='\x00\x00\x00\x00\x00\x00' |>>>

In [ ]:
traffic[0].payload.len

40

In [ ]:
traffic[2].payload.len

94

In [ ]:
traffic[2].payload.id

10754

In [ ]:
traffic[2].payload.proto

6

In [ ]:
traffic[0][IP].payload

In [ ]:
print (traffic[0][IP].payload.load)
len(traffic[0][IP].payload.load)

b'\x00\x00\x00\x00\x00\x00'

6

In [ ]:
len(traffic[2][IP].payload.load)

54

In [ ]:
testBytes = traffic[2][IP].payload.load
byteArray = []
for i in  testBytes :
    byteArray.append(i)
    #byteArray[i] = testBytes[i]
print (byteArray)

[112, 0, 30, 0, 1, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 161, 0, 4, 0, 83, 64, 177, 255, 177, 0, 10, 0, 10, 2, 76, 3, 32, 178, 37, 0, 33, 0]

In [ ]:
len(traffic[197][IP].payload.load)
traffic[197][IP].len

193

In [ ]:
len(traffic[0][IP].payload.load)

6

In [ ]:
len(traffic[4][IP].payload.load)

434

In [ ]:
traffic[4][IP].payload.load

b'p\x00\x9a\x01\x01\x00\x04\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x02\x00\xa1\x00\x04\x00\xb8=\x00\x80\xb1\x00\x86\x01\n\x02\xcc\x00\x00\x00\x01\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x01\x01\x00\x00\x01\x01\x01\x01\x01\x00\x01\x01\x01\x01\x01\x01\x01\x01\x00\x01\x00\x00\x01\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x02\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x01\x01\x01\x01\x01\x01\x00\x00\x00\x00\x00\x00\x01\x00\x00\x00\x01\x00\x00\x00\x00\x00\x04\x00\x04\x00\x04\x00\x04\x00\x04\x00\x04\x00\x00\x00\x00\x00\x00\x00\x00\x00\x06\x00\x06\x00\x00\x00\x00\x01\x01\x00\x00\x00\x03\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x01\x00\x00\x00\x00\x01\x00\x00\x01\x00\x00\x00\x00\x00\x00\x00\x00\x00\xa0\xc7\xf5B\x00\x00\xc8B\x00\x00\xc8B\x00\x00\x00\x00\xf0\xfe\xc7B\xf0\xfe\xc7BA\x99\xf5A\x04\x00\xe1\xfe\xc7B\xe1\xfe\xc7B\x7f\x90\xf5A\x00\x00\xc8B\x00\x00\xc8B\nE\xad?\xa0\xc7\xf5B\x98\x91\xf5A\xc5;\xf5A\xa2\x9d\xf5A\x00?\xf4A\xba\x9e\xf5A\xccS\xf1A\xf5\xac\xf5A\xd6\xd8\xf4A\x00\x00\xc8B\xe0p\xccA\x00\x98}?\xfe\x17\xcaA\xd8\xccR?\xd8\xccR?\x9c\xf7LD\x9c\xf7LD\x00\x00\xc8B\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x05\x00\x04\x00\x00\x00\x04\x00\x04\x00\x00\x00\x04\x00\x00\x00\x04\x00\x00\x00\x06\x00\x00\x00\x00\x00\xa0\xc7\xf5B\x00\x00\xc8B\x00\x00\x00\x00\xf0\xfe\xc7BA\x99\xf5A\xe1\xfe\xc7B\x7f\x90\xf5A\x00\x00\xc8B\nE\xad?'

In [ ]:
traffic[4][IP].payload.load[0]

112

# 整理資料

In [ ]:
rows = []

for i in traffic:
    
    testBytes = i[IP].payload.load
    byteArray = []
    for iii in  testBytes :
        byteArray.append(iii)
    
    len_ = i.payload.len
    LEN = len(i[IP].payload.load)
    byteArray = byteArray
    id_ = i.payload.id
    frag = i.payload.frag
    ttl = i.payload.ttl
    proto = i.payload.proto
    src =  i.payload.src
    dst =  i.payload.dst
    window = i.payload.window

    
    rows.append((len_,LEN,byteArray, id_,frag, ttl,proto, src,dst, window))
#print(rows)

#for i in rows:
    #print(i)

import pandas as pd

df = pd.DataFrame(rows, columns = ['len', 'LEN' ,'byteArray', 'id','frag','ttl','proto','src','dst', 'window'])

df['label'] = 0
pd.set_option('display.width', 10000)

#新增byte array 長度的array
len_list = []
for i in df['byteArray']:
    len_list.append(len(i))
print ("ALL LEN::::::: ",set(len_list))

#####
df_54 = df[df['LEN'] == 54] ##只拿54的
print("-----------")
print(df_54)

ALL LEN:::::::  {1, 6, 402, 532, 534, 153, 540, 413, 542, 544, 169, 434, 178, 52, 54, 56, 60, 450, 454, 82, 85, 482, 120}
-----------
       len  LEN                                          byteArray     id  frag  ttl  proto          src           dst  window  label
2       94   54  [112, 0, 30, 0, 1, 0, 4, 0, 0, 0, 0, 0, 0, 0, ...  10754     0  128      6  10.0.100.16  10.0.100.105     509      0
5       94   54  [112, 0, 30, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 0, ...  12205     0  128      6  10.0.100.21  10.0.100.110     513      0
8       94   54  [112, 0, 30, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 0, ...  12206     0  128      6  10.0.100.21  10.0.100.110     511      0
21      94   54  [112, 0, 30, 0, 1, 0, 4, 0, 0, 0, 0, 0, 0, 0, ...  10756     0  128      6  10.0.100.16  10.0.100.105     508      0
24      94   54  [112, 0, 30, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 0, ...  12208     0  128      6  10.0.100.21  10.0.100.110     509      0
...    ...  ...                                                ...    ...   ...  ...    ...          ...           ...     ...    ...
14054   94   54  [112, 0, 30, 0, 1, 0, 4, 0, 0, 0, 0, 0, 0, 0, ...  13000     0  128      6  10.0.100.16  10.0.100.105     509      0
14058   94   54  [112, 0, 30, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 0, ...  14635     0  128      6  10.0.100.21  10.0.100.110     509      0
14063   94   54  [112, 0, 30, 0, 1, 0, 4, 0, 0, 0, 0, 0, 0, 0, ...  13002     0  128      6  10.0.100.16  10.0.100.105     508      0
14067   94   54  [112, 0, 30, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 0, ...  14637     0  128      6  10.0.100.21  10.0.100.110     513      0
14070   94   54  [112, 0, 30, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 0, ...  14638     0  128      6  10.0.100.21  10.0.100.110     511      0

[2593 rows x 11 columns]

In [ ]:
df_54.columns

Index(['len', 'LEN', 'byteArray', 'id', 'frag', 'ttl', 'proto', 'src', 'dst', 'window', 'label'], dtype='object')

In [ ]:
len(list(range(54)))

54

In [ ]:
for j in range(54):
    listj = []
    for  i in df_54['byteArray']:
        
        listj.append(i[j])
    df_54[str(j)] = listj
df_54

/Users/user/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       len  LEN                                          byteArray     id  frag  ttl  proto          src           dst  window  ...   44  45  46  47  48   49  50  51  52  53
2       94   54  [112, 0, 30, 0, 1, 0, 4, 0, 0, 0, 0, 0, 0, 0, ...  10754     0  128      6  10.0.100.16  10.0.100.105     509  ...   10   2  76   3  32  178  37   0  33   0
5       94   54  [112, 0, 30, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 0, ...  12205     0  128      6  10.0.100.21  10.0.100.110     513  ...  211  80  76   3  32  178  37   0  33   0
8       94   54  [112, 0, 30, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 0, ...  12206     0  128      6  10.0.100.21  10.0.100.110     511  ...  212  80  76   3  32  178  37   0  33   0
21      94   54  [112, 0, 30, 0, 1, 0, 4, 0, 0, 0, 0, 0, 0, 0, ...  10756     0  128      6  10.0.100.16  10.0.100.105     508  ...   11   2  76   3  32  178  37   0  33   0
24      94   54  [112, 0, 30, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 0, ...  12208     0  128      6  10.0.100.21  10.0.100.110     509  ...  213  80  76   3  32  178  37   0  33   0
...    ...  ...                                                ...    ...   ...  ...    ...          ...           ...     ...  ...  ...  ..  ..  ..  ..  ...  ..  ..  ..  ..
14054   94   54  [112, 0, 30, 0, 1, 0, 4, 0, 0, 0, 0, 0, 0, 0, ...  13000     0  128      6  10.0.100.16  10.0.100.105     509  ...  173   6  76   3  32  178  37   0  33   0
14058   94   54  [112, 0, 30, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 0, ...  14635     0  128      6  10.0.100.21  10.0.100.110     509  ...   44  86  76   3  32  178  37   0  33   0
14063   94   54  [112, 0, 30, 0, 1, 0, 4, 0, 0, 0, 0, 0, 0, 0, ...  13002     0  128      6  10.0.100.16  10.0.100.105     508  ...  174   6  76   3  32  178  37   0  33   0
14067   94   54  [112, 0, 30, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 0, ...  14637     0  128      6  10.0.100.21  10.0.100.110     513  ...   45  86  76   3  32  178  37   0  33   0
14070   94   54  [112, 0, 30, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 0, ...  14638     0  128      6  10.0.100.21  10.0.100.110     511  ...   46  86  76   3  32  178  37   0  33   0

[2593 rows x 65 columns]

In [ ]:
#捏出假資料
import numpy as np

df_fake = df_54.copy()

np.random.seed(6)

ran_1 = np.random.randint(0,255,2593)
ran_2 = np.random.randint(0,255,2593)

ran_3 = np.random.randint(0,255,2593)
ran_5 = np.random.randint(0,255,2593)
ran_7 = np.random.randint(0,255,2593)
ran_9 = np.random.randint(0,255,2593)
ran_11 = np.random.randint(0,255,2593)
ran_13 = np.random.randint(0,255,2593)

df_fake['1'] = ran_1
df_fake['3'] = ran_3
df_fake['5'] = ran_5
df_fake['7'] = ran_7
df_fake['9'] = ran_9
df_fake['11'] = ran_11
df_fake['13'] = ran_13

df_fake['label'] = 1

df_fake

       len  LEN                                          byteArray     id  frag  ttl  proto          src           dst  window  ...   44  45  46  47  48   49  50  51  52  53
2       94   54  [112, 0, 30, 0, 1, 0, 4, 0, 0, 0, 0, 0, 0, 0, ...  10754     0  128      6  10.0.100.16  10.0.100.105     509  ...   10   2  76   3  32  178  37   0  33   0
5       94   54  [112, 0, 30, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 0, ...  12205     0  128      6  10.0.100.21  10.0.100.110     513  ...  211  80  76   3  32  178  37   0  33   0
8       94   54  [112, 0, 30, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 0, ...  12206     0  128      6  10.0.100.21  10.0.100.110     511  ...  212  80  76   3  32  178  37   0  33   0
21      94   54  [112, 0, 30, 0, 1, 0, 4, 0, 0, 0, 0, 0, 0, 0, ...  10756     0  128      6  10.0.100.16  10.0.100.105     508  ...   11   2  76   3  32  178  37   0  33   0
24      94   54  [112, 0, 30, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 0, ...  12208     0  128      6  10.0.100.21  10.0.100.110     509  ...  213  80  76   3  32  178  37   0  33   0
...    ...  ...                                                ...    ...   ...  ...    ...          ...           ...     ...  ...  ...  ..  ..  ..  ..  ...  ..  ..  ..  ..
14054   94   54  [112, 0, 30, 0, 1, 0, 4, 0, 0, 0, 0, 0, 0, 0, ...  13000     0  128      6  10.0.100.16  10.0.100.105     509  ...  173   6  76   3  32  178  37   0  33   0
14058   94   54  [112, 0, 30, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 0, ...  14635     0  128      6  10.0.100.21  10.0.100.110     509  ...   44  86  76   3  32  178  37   0  33   0
14063   94   54  [112, 0, 30, 0, 1, 0, 4, 0, 0, 0, 0, 0, 0, 0, ...  13002     0  128      6  10.0.100.16  10.0.100.105     508  ...  174   6  76   3  32  178  37   0  33   0
14067   94   54  [112, 0, 30, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 0, ...  14637     0  128      6  10.0.100.21  10.0.100.110     513  ...   45  86  76   3  32  178  37   0  33   0
14070   94   54  [112, 0, 30, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 0, ...  14638     0  128      6  10.0.100.21  10.0.100.110     511  ...   46  86  76   3  32  178  37   0  33   0

[2593 rows x 65 columns]

In [ ]:
frames = [df_54,df_fake]
result = pd.concat(frames)
result

       len  LEN                                          byteArray     id  frag  ttl  proto          src           dst  window  ...   44  45  46  47  48   49  50  51  52  53
2       94   54  [112, 0, 30, 0, 1, 0, 4, 0, 0, 0, 0, 0, 0, 0, ...  10754     0  128      6  10.0.100.16  10.0.100.105     509  ...   10   2  76   3  32  178  37   0  33   0
5       94   54  [112, 0, 30, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 0, ...  12205     0  128      6  10.0.100.21  10.0.100.110     513  ...  211  80  76   3  32  178  37   0  33   0
8       94   54  [112, 0, 30, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 0, ...  12206     0  128      6  10.0.100.21  10.0.100.110     511  ...  212  80  76   3  32  178  37   0  33   0
21      94   54  [112, 0, 30, 0, 1, 0, 4, 0, 0, 0, 0, 0, 0, 0, ...  10756     0  128      6  10.0.100.16  10.0.100.105     508  ...   11   2  76   3  32  178  37   0  33   0
24      94   54  [112, 0, 30, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 0, ...  12208     0  128      6  10.0.100.21  10.0.100.110     509  ...  213  80  76   3  32  178  37   0  33   0
...    ...  ...                                                ...    ...   ...  ...    ...          ...           ...     ...  ...  ...  ..  ..  ..  ..  ...  ..  ..  ..  ..
14054   94   54  [112, 0, 30, 0, 1, 0, 4, 0, 0, 0, 0, 0, 0, 0, ...  13000     0  128      6  10.0.100.16  10.0.100.105     509  ...  173   6  76   3  32  178  37   0  33   0
14058   94   54  [112, 0, 30, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 0, ...  14635     0  128      6  10.0.100.21  10.0.100.110     509  ...   44  86  76   3  32  178  37   0  33   0
14063   94   54  [112, 0, 30, 0, 1, 0, 4, 0, 0, 0, 0, 0, 0, 0, ...  13002     0  128      6  10.0.100.16  10.0.100.105     508  ...  174   6  76   3  32  178  37   0  33   0
14067   94   54  [112, 0, 30, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 0, ...  14637     0  128      6  10.0.100.21  10.0.100.110     513  ...   45  86  76   3  32  178  37   0  33   0
14070   94   54  [112, 0, 30, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 0, ...  14638     0  128      6  10.0.100.21  10.0.100.110     511  ...   46  86  76   3  32  178  37   0  33   0

[5186 rows x 65 columns]

In [ ]:
#用統計方法 , 去看標準差
df_54.describe()

          len     LEN            id    frag     ttl   proto       window   label       0       1  ...           44           45           46      47      48           49           50           51           52           53
count  2593.0  2593.0   2593.000000  2593.0  2593.0  2593.0  2593.000000  2593.0  2593.0  2593.0  ...  2593.000000  2593.000000  2593.000000  2593.0  2593.0  2593.000000  2593.000000  2593.000000  2593.000000  2593.000000
mean     94.0    54.0  12611.558041     0.0   128.0     6.0   510.529888     0.0   112.0     0.0  ...   124.231392    45.094871    72.128808     3.0    32.0   172.338990    36.990744     0.009256    31.769379     0.046278
std       0.0     0.0   1522.957308     0.0     0.0     0.0     1.868346     0.0     0.0     0.0  ...    72.078824    38.897473    16.370599     0.0     0.0    30.785768     0.095779     0.095779     6.755944     0.478893
min      94.0    54.0   3181.000000     0.0   128.0     6.0   507.000000     0.0   112.0     0.0  ...     0.000000     0.000000     1.000000     3.0    32.0     1.000000    36.000000     0.000000     1.000000     0.000000
25%      94.0    54.0  11952.000000     0.0   128.0     6.0   509.000000     0.0   112.0     0.0  ...    64.000000     4.000000    76.000000     3.0    32.0   178.000000    37.000000     0.000000    33.000000     0.000000
50%      94.0    54.0  12705.000000     0.0   128.0     6.0   511.000000     0.0   112.0     0.0  ...   120.000000    81.000000    76.000000     3.0    32.0   178.000000    37.000000     0.000000    33.000000     0.000000
75%      94.0    54.0  13529.000000     0.0   128.0     6.0   513.000000     0.0   112.0     0.0  ...   185.000000    83.000000    76.000000     3.0    32.0   178.000000    37.000000     0.000000    33.000000     0.000000
max      94.0    54.0  14638.000000     0.0   128.0     6.0   513.000000     0.0   112.0     0.0  ...   255.000000    86.000000    76.000000     3.0    32.0   178.000000    37.000000     1.000000    48.000000     5.000000

[8 rows x 62 columns]

In [ ]:
# 看位置跟位置之間的相關性 用相關係數
df_54.corr()

      len  LEN        id  frag  ttl  proto    window  label   0   1  ...        44        45        46  47  48        49        50        51        52        53
len   NaN  NaN       NaN   NaN  NaN    NaN       NaN    NaN NaN NaN  ...       NaN       NaN       NaN NaN NaN       NaN       NaN       NaN       NaN       NaN
LEN   NaN  NaN       NaN   NaN  NaN    NaN       NaN    NaN NaN NaN  ...       NaN       NaN       NaN NaN NaN       NaN       NaN       NaN       NaN       NaN
id    NaN  NaN  1.000000   NaN  NaN    NaN  0.097080    NaN NaN NaN  ...  0.043641  0.546170  0.403333 NaN NaN  0.260290 -0.004477  0.004477  0.422731  0.004477
frag  NaN  NaN       NaN   NaN  NaN    NaN       NaN    NaN NaN NaN  ...       NaN       NaN       NaN NaN NaN       NaN       NaN       NaN       NaN       NaN
ttl   NaN  NaN       NaN   NaN  NaN    NaN       NaN    NaN NaN NaN  ...       NaN       NaN       NaN NaN NaN       NaN       NaN       NaN       NaN       NaN
...   ...  ...       ...   ...  ...    ...       ...    ...  ..  ..  ...       ...       ...       ...  ..  ..       ...       ...       ...       ...       ...
49    NaN  NaN  0.260290   NaN  NaN    NaN -0.003627    NaN NaN NaN  ...  0.103019  0.123647  0.756994 NaN NaN  1.000000  0.538039 -0.538039  0.467458 -0.538039
50    NaN  NaN -0.004477   NaN  NaN    NaN -0.000609    NaN NaN NaN  ...  0.057983  0.112076  0.343269 NaN NaN  0.538039  1.000000 -1.000000 -0.232250 -1.000000
51    NaN  NaN  0.004477   NaN  NaN    NaN  0.000609    NaN NaN NaN  ... -0.057983 -0.112076 -0.343269 NaN NaN -0.538039 -1.000000  1.000000  0.232250  1.000000
52    NaN  NaN  0.422731   NaN  NaN    NaN  0.028146    NaN NaN NaN  ...  0.099837  0.080274  0.833450 NaN NaN  0.467458 -0.232250  0.232250  1.000000  0.232250
53    NaN  NaN  0.004477   NaN  NaN    NaN  0.000609    NaN NaN NaN  ... -0.057983 -0.112076 -0.343269 NaN NaN -0.538039 -1.000000  1.000000  0.232250  1.000000

[62 rows x 62 columns]

In [ ]:
from sklearn.model_selection import  train_test_split

#切資料
X = result.drop(['label','src', 'dst', 'byteArray'], axis= 1)
y = result['label']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)


#訓練兩份 一份input, 一份是答案
print(X_train.shape)
print(y_train.shape)

#測試兩份 一份input, 一份是答案
print(X_test.shape)
print(y_test.shape)


#測試的資料, 不能先看過, 會像是考古題
#機器會把他背起來

X_train.columns

(3630, 61)
(3630,)
(1556, 61)
(1556,)

Index(['len', 'LEN', 'id', 'frag', 'ttl', 'proto', 'window', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53'], dtype='object')

In [ ]:

from sklearn.tree import  DecisionTreeClassifier

#呼叫物件
dtree = DecisionTreeClassifier()

#訓練模型, 調參數
dtree.fit(X_train, y_train)

#進行預測
predictions = dtree.predict(X_test)

#衡量模型表現
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, predictions))

#視覺化
from sklearn import tree
text_representation = tree.export_text(dtree)
print(text_representation)

[[790   0]
 [  0 766]]
|--- feature_8 <= 0.50
|   |--- feature_12 <= 0.50
|   |   |--- class: 0
|   |--- feature_12 >  0.50
|   |   |--- class: 1
|--- feature_8 >  0.50
|   |--- class: 1

In [ ]:
list(zip(X_train.columns, dtree.feature_importances_))

[('len', 0.0),
 ('LEN', 0.0),
 ('id', 0.0),
 ('frag', 0.0),
 ('ttl', 0.0),
 ('proto', 0.0),
 ('window', 0.0),
 ('0', 0.0),
 ('1', 0.994505354781522),
 ('2', 0.0),
 ('3', 0.0),
 ('4', 0.0),
 ('5', 0.005494645218478006),
 ('6', 0.0),
 ('7', 0.0),
 ('8', 0.0),
 ('9', 0.0),
 ('10', 0.0),
 ('11', 0.0),
 ('12', 0.0),
 ('13', 0.0),
 ('14', 0.0),
 ('15', 0.0),
 ('16', 0.0),
 ('17', 0.0),
 ('18', 0.0),
 ('19', 0.0),
 ('20', 0.0),
 ('21', 0.0),
 ('22', 0.0),
 ('23', 0.0),
 ('24', 0.0),
 ('25', 0.0),
 ('26', 0.0),
 ('27', 0.0),
 ('28', 0.0),
 ('29', 0.0),
 ('30', 0.0),
 ('31', 0.0),
 ('32', 0.0),
 ('33', 0.0),
 ('34', 0.0),
 ('35', 0.0),
 ('36', 0.0),
 ('37', 0.0),
 ('38', 0.0),
 ('39', 0.0),
 ('40', 0.0),
 ('41', 0.0),
 ('42', 0.0),
 ('43', 0.0),
 ('44', 0.0),
 ('45', 0.0),
 ('46', 0.0),
 ('47', 0.0),
 ('48', 0.0),
 ('49', 0.0),
 ('50', 0.0),
 ('51', 0.0),
 ('52', 0.0),
 ('53', 0.0)]

In [ ]:
from sklearn.svm import SVC

#呼叫物件
model_svc = SVC()

#訓練模型, 調參數
model_svc.fit(X_train, y_train)

#進行預測
predictions = model_svc.predict(X_test)

#報錯原因, 只有一個類別

from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, predictions))

/Users/user/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

[[750  40]
 [  0 766]]